/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2018, 9:22:53 AM
    Author     : Administrator
*/
.c{
    background-image: url('http://mau-577807.tnweb.vn/files/sanpham/20/1/jpg/combo-gio-rau-cu-qua-hana.jpg');
    background-size: contain;
    height: 100px;
    
}




